<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/destinos.css">
    <title>Destinos y Servicios - Apex Fly</title>
    <style>
        main{background-color: lightgoldenrodyellow;}
    </style>
</head>
<body>
    <nav class="divBarradenavegacionDestinos">
        <p>Apex Fly</p>
        <img src="../Assets/img/fotosIndex/avionBarra.png" alt="Logo de Apex Fly">
        <a href="index.html">Página de inicio</a>
        <a href="destinos.html">Página de destinos</a>
        <a href="vuelos.html">Búsqueda de vuelos</a>
        <a href="../Views/sucursalesContacto.html">Sucursales y contacto</a>
</nav>

</body>
</html>