<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio - P3</title>
    <link rel="stylesheet" href="../Assets/css/index.css">
</head>

<body>
    <div class="divDeBarraDeNavegacionIndex">
        <p><strong><em>Apex Fly</em></strong></p>
        <img src="../Assets/img/avionBarra.png">
        <a href="index.html">Página de inicio</a>
        <a href="destinos.html">Página de destinos</a>
        <a href="destinos.html">Búsqueda de vuelos</a>
        <a href="destinos.html">Nuestras sucursales</a>
        <a href="destinos.html">Contactanos</a>
    </div>

    <div class="divDeFondoSuperior">
        <img src="../Assets/img/avionFondo.png">
        <div class="textoDeBannerIndex">
            <p><em>Nuestro destino de viaje nunca es un lugar, sino una nueva forma de ver las cosas» — Henry Miller</em></p>
        </div>
    </div>

    <!--sección de buscador de vuelos-->
        <h2>Buscador de Vuelos</h2>
    <form>
        <!--campo para el origen-->
        <label for="origen">Origen:</label>
        <input type="text" id="origen" name="origen" placeholder="Ciudad de origen">
        <br><br>
        <!--campo para el destino-->
        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" placeholder="Ciudad de destino">
        <br><br>
        <!--campo para la fecha de viaje-->
        <label for="fecha">Fecha de Viaje:</label>
        <input type="date" id="fecha" name="fecha">
        <br><br>
        <!--botón para enviar el formulario de búsqueda-->
        <button type="submit">Consultar Disponibilidad</button>
    </form>

    <!--sección de destinos-->
    <h2 class="tituloDestinos">Nuestros Destinos Destacados</h2>
    <div class="divContenedorDeDestinosPrincipalesIndex">

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/francia.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">París, Francia</p>
            </div><p class="textoDestinoIndex">París, Francia</p>
        </div>

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/japon.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">Tokio, Japón</p>
            </div>
        </div>

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/brasil.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">Río de Janeiro, Brasil</p>
            </div>
        </div>
    </div>

    <div class="divContenedorDeDestinosPrincipalesIndex">

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/costaRica.jpg" alt="Logo de Apex Fly"  class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">San José, Costa Rica</p>
            </div>
        </div>

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/peru.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">Cusco, Perú</p>
            </div>
        </div>

        <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
            <img src="../Assets/img/groelandia.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
            <div class="capaDeTexto">
                <p class="textoDestinoIndex">Ilulissat , Groelandia</p>
            </div>
        </div>
    </div>

    <div class="divInferiorDeDestinosIndex">
        <p ><a href="destinos.html">Ingresa aquí para conocer más acerca de nuestros destinos</a></p>
    </div>

    <!--sección de footer-->
    <footer class="footerDeIndex">
        <div class="divContenedorDeFooterIndex">

            <div class="divDeFooterIndex">
                <h4>Acerca de nosotros</h4> <!-- pendiente de ponerle nombre a la aerolinea-->
                <ul>
                    <li>Nuestra historia</li>
                    <li>Trayectoria</li>
                    <li>Organigrama</li>
                    <li>Documentos de interés</li>
                </ul>
            </div>

            <div class="divDeFooterIndex">
                <h4>Información legal</h4>
                <ul>
                    <li>Términos y condiciones</li>
                    <li>Reclamos de servicios</li>
                    <li>Requisitos por país</li>
                    <li>Obligaciones a bordo</li>
                </ul>
            </div>

            <div class="divDeFooterIndex">
                <h4>Datos de contacto</h4>
                <ul>
                    <li>Centro de atención al cliente</li>
                    <li>CorreoDePrueba@uvirtual.com</li>
                    <li>Contacto para empresas</li>
                    <li>Formulario de reclamos</li>
                </ul>
            </div>

            <div class="divDeFooterIndex">
                <h4>Siguenos en redes sociales</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>WhatsApp <br>(canal de difusión)</li>
                    <li>TikTok</li>
                </ul>
            </div>

        </div>
        <p>© 2026 Todos los derechos reservados</p>
    </footer>
</body>
</html>