<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../Assets/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbarApex">
            <!--navbar para indicar que es la barra de navegación-->
            <!--navbar-expand-lg mantiene la barra expandida en pantallas lg o superiores-->
            <!--navbar-dark para cambiar el estilo de la barra de navegación a un tono claro (light para hacerlo oscuro jaja)-->
            <!--navbarApex es la clase para editar desde el index.css-->

            <div class="container-fluid px-4">
                <!--container para tratar el contenido de la barra de navegación-->
                <!--px-4 para agregar padding/espacio a los bordes laterales-->
                
                <a class="navbar-brand text-white fw-bold fst-italic ms-3" href="../Views/index.html">
                    <!--nav-brand para tratar el logo de la aerolinea y el nombre como una marca sola de redireccionamiento-->
                    <!--text-white para cambiar el color del texto a blanco-->
                    <!--fw-bold para cambiar el grosor del texto a negrita-->
                    <!--fst-italic para cambiar el estilo del texto a cursiva-->
                    <!--ms-3 para agregar un margen a la izquierda, o sea margin start 3 -->

                    <img src="../Assets/img/fotosIndex/avionBarra.png" width="45" class="me-2">
                    Apex Fly
                    <!--me-2 para agregar un margen a la derecha, o sea margin end 2 y separe del texto del nombre de la aerolinea-->
                    <!--width="45" para indicarle que tenga un ancho de 45 píxeles y que calcule la altura automáticamente-->
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDelNavbar"> <!--Botón para colapsar la barra de navegación en pantallas pequeñas-->
                    <!--navbar-toggler clases para abrir o cerrar la barra de navegación en dispositivos de pantallas pequeñas-->
                    <!--data-bs-toggle="collapse" para que el botón active el componente llamado collapse que viene de Js-->
                    <!--data-bs-target="#menuDelNavbar" para que busque lo que tenga ese identificador específico-->

                    <span class="navbar-toggler-icon"></span>
                        <!--navbar-toggler-icon para para dibujar el icono del botón para cerrar o abrir la barra de navegación-->
                </button>

                <div class="collapse navbar-collapse" id="menuDelNavbar">
                    <!--collapse inndica que es parte del nnavbar y colapsa la barra de navegación en pantallas pequeñas-->
                    <!--navbar-nav para tratar los enlaces de navegación-->
                    <!--id="menuDelNavbar" para asignarle el identificador que se usa en el botón-->

                    <div class="navbar-nav ms-auto">
                        <!--navbar-nav para tratar los enlaces de navegación-->
                        <!--ms-auto para alinear los enlaces a la derecha, o sea margin start auto-->

                        <a class="nav-link text-white rounded-2" href="../Views/index.html"> Página de inicio</a>
                        <!--nav-link para tratar los enlaces de navegación-->
                        <!--text-white para cambiar el color del texto a blanco-->

                        <a class="nav-link text-white rounded-2" href="../Views/destinos.html"> Página de destinos</a>
                        <!--nav-link para tratar los enlaces de navegación-->
                        <!--text-white para cambiar el color del texto a blanco-->
                        
                        <a class="nav-link text-white rounded-2" href="../Views/vuelos.html">Búsqueda de vuelos</a>
                        <!--nav-link para tratar los enlaces de navegación-->
                        <!--text-white para cambiar el color del texto a blanco-->

                        <a class="nav-link text-white rounded-2" href="../Views/sucursalesContacto.html">Sucursales y contacto</a>
                        <!--nav-link para tratar los enlaces de navegación-->
                        <!--text-white para cambiar el color del texto a blanco-->
                        
                        <!--nav-link agrega padding, separación, alineación y comportamiento de barra nav-->
                        
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="divDeFondoSuperior">
            <img src="../Assets/img/fotosIndex/avionFondo.png">
            <div class="textoDeBannerIndex">
                <p><em>Nuestro destino de viaje nunca es un lugar, sino una nueva forma de ver las cosas — Henry Miller</em></p>
            </div>
        </div>

        <!--sección de buscador de vuelos-->
            <h2 class="text-secondary text-center mt-3">Buscador de Vuelos</h2>
                <!--text-secondary para darle el tamaño y formato al texto del título-->
                <!--text-center para centrar el texto del título-->
                <!--mt-3 para darle un margen superior al título-->
                
        <form>
            <!--campo para el origen-->
            <label for="origen">Origen:</label>
            <input type="text" id="origen" name="origen" placeholder="Ciudad de origen">
            <br><br>
            <!--campo para el destino-->
            <label for="destino">Destino:</label>
            <input type="text" id="destino" name="destino" placeholder="Ciudad de destino">
            <br><br>
            <!--campo para la fecha de viaje-->
            <label for="fecha">Fecha de Viaje:</label>
            <input type="date" id="fecha" name="fecha">
            <br><br>
            <!--botón para enviar el formulario de búsqueda-->
            <button type="submit">Consultar Disponibilidad</button>
        </form>

        <!--sección de destinos-->
        <h2 class="text-secondary text-center mt-3">Nuestros Destinos Destacados</h2>
            <!--text-secondary para darle el tamaño y formato al texto del título-->
            <!--text-center para centrar el texto del título-->
            <!--mt-3 para darle un margen superior al título-->

        <div class="divContenedorDeDestinosPrincipalesIndex">

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/francia.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">París, Francia</p>
                </div><p class="textoDestinoIndex">París, Francia</p>
            </div>

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/japon.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">Tokio, Japón</p>
                </div>
            </div>

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/brasil.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">Río de Janeiro, Brasil</p>
                </div>
            </div>
        </div>

        <div class="divContenedorDeDestinosPrincipalesIndex">

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/costaRica.jpg" alt="Logo de Apex Fly"  class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">San José, Costa Rica</p>
                </div>
            </div>

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/peru.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">Cusco, Perú</p>
                </div>
            </div>

            <div class="divDentroDeContendorDeDestinosPrincipalesIndex">
                <img src="../Assets/img/fotosIndex/groelandia.jpg" alt="Logo de Apex Fly" class="imagenDestinosIndex">
                <div class="capaDeTexto">
                    <p class="textoDestinoIndex">Ilulissat , Groelandia</p>
                </div>
            </div>
        </div>

        <div class="divInferiorDeDestinosIndex">
            <p ><a href="destinos.html">Ingresa aquí para conocer más acerca de nuestros destinos</a></p>
        </div>
    </main>
    <!--sección de footer-->
    <div class="divContenedorDeFooterIndex">

        <div class="divDeFooterIndex">
            <h4>Acerca de nosotros</h4> <!-- pendiente de ponerle nombre a la aerolinea-->
            <ul>
                <li>Nuestra historia</li>
                <li>Trayectoria</li>
                <li>Organigrama</li>
                <li>Documentos de interés</li>
            </ul>
        </div>

        <div class="divDeFooterIndex">
            <h4>Información legal</h4>
            <ul>
                <li>Términos y condiciones</li>
                <li>Reclamos de servicios</li>
                <li>Requisitos por país</li>
                <li>Obligaciones a bordo</li>
            </ul>
        </div>

        <div class="divDeFooterIndex">
            <h4>Datos de contacto</h4>
            <ul>
                <li>Centro de atención al cliente</li>
                <li>CorreoDePrueba@uvirtual.com</li>
                <li>Contacto para empresas</li>
                <li>Formulario de reclamos</li>
            </ul>
        </div>

        <div class="divDeFooterIndex">
            <h4>Siguenos en redes sociales</h4>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>WhatsApp <br>(canal de difusión)</li>
            </ul>
        </div>

    </div>
    <footer class="footerDeSucursales">
        <p>© 2026 Todos los derechos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>