<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" lang="es">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="stylesheet" href="Assets/css/login.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbarApex">
            <!--navbar para indicar que es la barra de navegación-->
            <!--navbar-expand-lg mantiene la barra expandida en pantallas lg o superiores-->
            <!--navbar-dark para cambiar el estilo de la barra de navegación a un tono claro (light para hacerlo oscuro jaja)-->
            <!--navbarApex es la clase para editar desde el index.css-->

            <div class="container-fluid px-4">
                <!--container para tratar el contenido de la barra de navegación-->
                <!--px-4 para agregar padding/espacio a los bordes laterales-->
                
                <a class="navbar-brand text-white fw-bold fst-italic ms-3" href="../Views/index.html">
                    <!--nav-brand para tratar el logo de la aerolinea y el nombre como una marca sola de redireccionamiento-->
                    <!--text-white para cambiar el color del texto a blanco-->
                    <!--fw-bold para cambiar el grosor del texto a negrita-->
                    <!--fst-italic para cambiar el estilo del texto a cursiva-->
                    <!--ms-3 para agregar un margen a la izquierda, o sea margin start 3 -->

                    <img src="Assets/img/fotosIndex/avionBarra.png" width="45" class="me-2">
                    Apex Fly
                    <!--me-2 para agregar un margen a la derecha, o sea margin end 2 y separe del texto del nombre de la aerolinea-->
                    <!--width="45" para indicarle que tenga un ancho de 45 píxeles y que calcule la altura automáticamente-->
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDelNavbar"> <!--Botón para colapsar la barra de navegación en pantallas pequeñas-->
                    <!--navbar-toggler clases para abrir o cerrar la barra de navegación en dispositivos de pantallas pequeñas-->
                    <!--data-bs-toggle="collapse" para que el botón active el componente llamado collapse que viene de Js-->
                    <!--data-bs-target="#menuDelNavbar" para que busque lo que tenga ese identificador específico-->

                    <span class="navbar-toggler-icon"></span>
                        <!--navbar-toggler-icon para para dibujar el icono del botón para cerrar o abrir la barra de navegación-->
                </button>

                <div class="collapse navbar-collapse" id="menuDelNavbar">
                    <!--collapse inndica que es parte del nnavbar y colapsa la barra de navegación en pantallas pequeñas-->
                    <!--navbar-nav para tratar los enlaces de navegación-->
                    <!--id="menuDelNavbar" para asignarle el identificador que se usa en el botón-->

                    <ul class="navbar-nav ms-auto">
                        <!--navbar-nav para tratar los enlaces de navegación-->
                        <!--ms-auto para alinear los enlaces a la derecha, o sea margin start auto-->
                        <li class="nav-item">
                            <!--nav-item para tratar los elementos de la lista de navegación-->

                            <a class="nav-link text-white rounded-2" href="../Views/index.html"> Página de inicio</a>
                            <!--nav-link para tratar los enlaces de navegación-->
                            <!--text-white para cambiar el color del texto a blanco-->
                        </li>
                        
                        <li class="nav-item">
                            <!--nav-item para tratar los elementos de la lista de navegación-->

                            <a class="nav-link text-white rounded-2" href="../Views/destinos.html"> Página de destinos</a>
                            <!--nav-link para tratar los enlaces de navegación-->
                            <!--text-white para cambiar el color del texto a blanco-->
                        </li>
                        
                        <li class="nav-item">
                            <!--nav-item para tratar los elementos de la lista de navegación-->

                            <a class="nav-link text-white rounded-2" href="../Views/vuelos.html">Búsqueda de vuelos</a>
                            <!--nav-link para tratar los enlaces de navegación-->
                            <!--text-white para cambiar el color del texto a blanco-->
                        </li>
                        
                        <li class="nav-item">
                            <!--nav-item para tratar los elementos de la lista de navegación-->

                            <a class="nav-link text-white rounded-2" href="../Views/sucursalesContacto.html">Sucursales y contacto</a>
                            <!--nav-link para tratar los enlaces de navegación-->
                            <!--text-white para cambiar el color del texto a blanco-->
                        </li>

                        <li class="nav-item">
                            <!--nav-item para tratar los elementos de la lista de navegación-->

                            <a class="nav-link text-white rounded-2" href="../Views/login.html">Login</a>
                            <!--nav-link para tratar los enlaces de navegación-->
                            <!--text-white para cambiar el color del texto a blanco-->
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!--sección del formulario de login-->
        <section class="seccionLogin d-flex align-items-center justify-content-center">
        <!--d-flex convierte la sección en un contenedor flexbox-->
        <!--align-items-center centra el contenido verticalmente-->
        <!--justify-content-center centra el contenido horizontalmente-->

            <div class="container">
                <!--container  para usar u n contenedor responmsive-->
                <div class="row justify-content-center">
                    <!--row para para usar el sistema de rejillas de bootstrap-->
                    <!--justify-content-center para centrar el contenido horizontalmente-->

                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <!--col-12 para que valga 12 en pantallas más pequelas-->
                        <!--col-sm-8 para uqe valga 8 en pantallas de tamaño small para adelamte-->
                        <!--col-md-6 para que valga 6 a partir de pantallas medianas en adelante-->
                        <!--col-lg-4 para que valga 4 a partir de pantallas lg en adelante-->

                        <div class="tarjetaLogin p-4 p-md-5">
                            <!--tarjetaLogin para usarla como referencia en CSS-->
                            <!--p-4 para añadir un padding interno de 4 en pantallas pequeñas-->
                            <!--p-md-5 para usar un padding de 5 en pantallas medianas en adelante-->

                            <div class="text-center mb-4">
                                <!--text-center para centrar el texto horizontalmente-->
                                <!--mb-4 para usar un margin inferior de 4-->

                                <h2 class="fw-bold">Iniciar sesión</h2>
                                <!--fw-bold para hacer el título en negrita-->

                                <p class="text-muted mb-0">Ingresa tus datos para continuar</p>
                                <!--text-muted para darle un color más de texto secundario luego de título-->
                                <!--mb-0 quita el margin inferior que ya trae p por defecto-->

                            </div>

                            <form id="formLogin">
                                <!--formLogin para darle el id y poder identificar el formulario en el Js-->

                                <div class="mb-3">
                                    <!--mb-3 para usar un margin inferior de 3-->

                                    <label for="usuario" class="form-label fw-semibold">Usuario</label>
                                    <!--label para identificar el campo que el usuario va a usar para el usuario-->
                                    <!--for="usuario" para relacionar la etiqueta con el input que va a tener el id de usuario-->
                                    <!--form-label para usar el formato de etiqueta que trae bootstrap-->
                                    <!--fw-semibold para aplicar un grosor fierte pero medio -->

                                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingresa tu usuario">
                                    <!--type="text" para indicar que sea de tipo texto-->
                                    <!--class="form-control" para usar el estilo de caja de texto del bootstrap-->
                                    <!--id="usuario" para identificar el campos-->
                                    <!--name="usuario" para identificar el dato dentro del input-->
                                    <!--placeholder para que aparezca una leyenda en el input que guíe al usuario de que tiene que ingresar-->
                                </div>

                                <div class="mb-3">
                                    <!--mb-3 para usar un margin inferior de 3-->

                                    <label for="contrasena" class="form-label fw-semibold">Contraseña</label>
                                    <!--label para identificar el campo que el usuario va a usar para la contraseña-->
                                    <!--for="contrasena" para relacionar la etiqueta con el input que tiene el id de contraseña-->
                                    <!--form-label para usar el formato de etiqueta que trae bootstrap-->
                                    <!--fw-semibold para aplicar un grosor fierte pero medio -->
                                    
                                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña">
                                    <!--type="password" para indicar que sea de tipo password por lo que esconde lo que el usuario ingrese-->
                                    <!--class="form-control" para usar el estilo de caja de texto del bootstrap-->
                                    <!--id="contrasena" para usar el id de contraseña e identificar el campo-->
                                    <!--name="contrasena" para identificar el dato dentro del input-->
                                    <!--placeholder para que aparezca una leyenda en el input que guíe al usuario de que tiene que ingresar-->

                                </div>


                                <button type="submit" class=" btnLogin btn w-100 fw-semibold">Ingresar</button>
                                <!--type="submit" para indicar que el botón va a enviar el formulario--> 
                                <!--btnLogin para usarla como enlace en el CSS-->
                                <!--btn aplica el estilo de boton base que trae bootstrap-->
                                <!--w-100 para que el botón ocupe el total del ancho posible del contenedor-->
                                <!--fw-semibold para aplicar un grosor fierte pero medio -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--sección de footer-->
    <footer class="footerDeSucursales">
        <div class="container"> <!--se quita de momento para pruebas la clase divContenedorDeFooterIndex-->
            <!--container para ser tratado como la clase container de bootstrap y que contenga sus propiedades de caja-->

            <section class="row text-center pb-0">
                <!--section porque es una sección de la página-->
                <!--row para crear filas de elementos-->

                <div class="col-12 col-md-6 col-lg-3">
                    <!--col-12 para que ocupe todo el ancho en dispositivos móviles-->
                    <!--col-md-6 para que ocupe la mitad en dispositivos medianos-->
                    <!--col-lg-3 para que ocupe un cuarto en dispositivos grandes-->
                    <h4 class="fw-bold">Nosotros</h4>
                    <ul class="list-unstyled">
                        <!--list-unstyled para quitar los puntos de la lista-->
                        <li class="mb-1"><a href="#">Nuestra historia</a></li> <!--Se referencia a la misma página a falta de backend para simulación de redirección-->
                        <li class="mb-1"><a href="#">Trayectoria</a></li>
                        <li class="mb-1"><a href="#">Organigrama</a></li>
                        <li class="mb-1"><a href="#">Documentos de interés</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <!--col-12 para que ocupe todo el ancho en dispositivos móviles-->
                    <!--col-md-6 para que ocupe la mitad en dispositivos medianos-->
                    <!--col-lg-3 para que ocupe un cuarto en dispositivos grandes-->
                    <!--mb-4 para agregar un margin bottom o sea de abajo de tamaño 4-->
                    <h4 class="fw-bold">Información legal</h4>
                    <!--fw-bold para hacer el h4 en negrita-->
                    <ul class="list-unstyled">
                        <!--list-unstyled para quitar los puntos de la lista-->
                        <li class="mb-1"><a href="#">Términos y condiciones</a></li>
                        <li class="mb-1"><a href="#">Reclamos de servicios</a></li>
                        <li class="mb-1"><a href="#">Requisitos por país</a></li>
                        <li class="mb-1"><a href="#">Obligaciones a bordo</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <!--col-12 para que ocupe todo el ancho en dispositivos móviles-->
                    <!--col-md-6 para que ocupe la mitad en dispositivos medianos-->
                    <!--col-lg-3 para que ocupe un cuarto en dispositivos grandes-->
                    <!--mb-4 para agregar un margin bottom o sea de abajo de tamaño 4-->
                    <h4 class="fw-bold">Datos de contacto</h4>
                    <!--fw-bold para hacer el h4 en negrita-->
                    <ul class="list-unstyled">
                        <!--list-unstyled para quitar los puntos de la lista-->
                        <li class="mb-1"><a href="#">Centro de atención al cliente</a></li>
                        <li class="mb-1"><a href="#">Correo electrónico</a></li>
                        <li class="mb-1"><a href="#">Contacto para empresas</a></li>
                        <li class="mb-1"><a href="#">Formulario de reclamos</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <!--col-12 para que ocupe todo el ancho en dispositivos móviles-->
                    <!--col-md-6 para que ocupe la mitad en dispositivos medianos-->
                    <!--col-lg-3 para que ocupe un cuarto en dispositivos grandes-->
                    <!--mb-4 para agregar un margin bottom o sea de abajo de tamaño 4-->
                    <h4 class="fw-bold">Redes sociales</h4>
                    <!--fw-bold para hacer el h4 en negrita-->
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Facebook</a></li>
                        <li class="mb-1"><a href="#">Instagram</a></li>
                        <li class="mb-1"><a href="#">WhatsApp <br>(canal de difusión)</a></li>
                    </ul>
                </div>
            </section>
        </div>        
    </footer>

    <!--carga el bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!--carga el sweetalert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--carga el jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!--carga el modelo del login-->
    <script src="../Models/modeloLogin.js"></script>

    <!--carga el controlador del login-->
    <script src="../Controllers/controladorLogin.js"></script>
</body>
</html>