<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaciónDeVuelos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbarApex"><!-- INICIA NAV -->
            <div class="container-fluid px-4"><a class="navbar-brand text-white fw-bold fst-italic ms-3" href="../Views/index.html">
                <img src="../Assets/img/fotosIndex/avionBarra.png" width="45" class="me-2">Apex Fly</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDelNavbar">
                <span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="menuDelNavbar">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/index.html"> Página de inicio</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/destinos.html"> Página de destinos</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/vuelos.html">Búsqueda de vuelos</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/sucursalesContacto.html">Sucursales y contacto</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/login.html">Login</a></li></ul>
                    </div>
                </div>
            </div>
        </nav><!-- TERMINA NAV -->
    </header><!-- termina header -->
        <!--============================================================================================================================================================================-->
        <!--=                                                      INICIA DOCUMENTACIÓN DEL HEADER                                                                                     =-->
        <!--============================================================================================================================================================================-->
        <!--= navbar para indicar que es la barra de navegación                                                                                                                        =-->
        <!--= navbar-expand-lg mantiene la barra expandida en pantallas lg o superiores                                                                                                =-->
        <!--= navbar-dark para cambiar el estilo de la barra de navegación a un tono claro (light para hacerlo oscuro jaja)                                                            =-->
        <!--= navbarApex es la clase para editar desde el index.css                                                                                                                    =-->
        <!--= container para tratar el contenido de la barra de navegación                                                                                                             =-->
        <!--= px-4 para agregar padding/espacio a los bordes laterales                                                                                                                 =-->
        <!--= nav-brand para tratar el logo de la aerolinea y el nombre como una marca sola de redireccionamiento                                                                      =-->
        <!--= text-white para cambiar el color del texto a blanco                                                                                                                      =-->
        <!--= fw-bold para cambiar el grosor del texto a negrita                                                                                                                       =-->
        <!--= fst-italic para cambiar el estilo del texto a cursiva                                                                                                                    =-->
        <!--= ms-3 para agregar un margen a la izquierda, o sea margin start 3                                                                                                         =-->
        <!--= me-2 para agregar un margen a la derecha, o sea margin end 2 y separe del texto del nombre de la aerolinea                                                               =-->
        <!--= width="45" para indicarle que tenga un ancho de 45 píxeles y que calcule la altura automáticamente                                                                       =-->
        <!--= Botón para colapsar la barra de navegación en pantallas pequeñas                                                                                                         =-->
        <!--= navbar-toggler clases para abrir o cerrar la barra de navegación en dispositivos de pantallas pequeñas                                                                   =-->
        <!--= data-bs-toggle="collapse" para que el botón active el componente llamado collapse que viene de Js                                                                        =-->
        <!--= data-bs-target="#menuDelNavbar" para que busque lo que tenga ese identificador específico                                                                                =-->
        <!--= navbar-toggler-icon para para dibujar el icono del botón para cerrar o abrir la barra de navegación                                                                      =-->
        <!--= collapse indica que es parte del nnavbar y colapsa la barra de navegación en pantallas pequeñas                                                                         =-->
        <!--= navbar-nav para tratar los enlaces de navegación                                                                                                                         =-->
        <!--= id="menuDelNavbar" para asignarle el identificador que se usa en el botón                                                                                                =-->
        <!--= ms-auto para alinear los enlaces a la derecha, o sea margin start auto                                                                                                   =-->
        <!--= nav-link para tratar los enlaces de navegación                                                                                                                           =-->
        <!--= nav-link agrega padding, separación, alineación y comportamiento de barra nav                                                                                            =-->
        <!--= nav-item para tratar los elementos de la lista de navegación                                                                                                             =-->
        <!--============================================================================================================================================================================-->
        <!--=                                                       TERMINA DOCUMENTACIÓN DEL HEADER                                                                                   =-->
        <!--============================================================================================================================================================================-->
    

    <main>
        <div class="container">
                <!--Inicia parte superior del check out-->
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="../assets/img/fotosIndex/avionBarra.png" alt="" width="72"
                        height="57" />
                    <h1 class="h2">Apex Fly</h1>
                    <p class="lead">
                        "Ya estamos más cerca de completar tu nueva aventura"
                    </p>
                </div><!--termina parte superior del check out-->

                <!--Inicia check out-->
                <div class="row g-5">
                    <!--Inicia parte de carrito-->
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Carrito</span>
                            <span class="badge bg-primary rounded-pill">1</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">Tiquete de vuelo a:</h6>
                            </div>
                            <span class="text-body-secondary" id="destino"></span>
                            </li>
                            
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (US con impuestos incluidos)</span>
                                <strong id="totalCarrito">$0.00</strong>
                            </li>
                        </ul>
                    </div><!--termina parte del carrito-->

                    <!--Inicia parte central del check out-->
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Dirección de facturación</h4>
                        <form class="needs-validation" novalidate>
                            <!--inciia validacion de datos-->
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                        required />
                                    <div class="invalid-feedback">
                                        Nombre es requerido.
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                        required />
                                    <div class="invalid-feedback">
                                        Apellido es requerido.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="email" class="form-label">Correo electronico
                                        <span class="text-body-secondary">(Opcional)</span></label>
                                    <input type="email" class="form-control" id="email" placeholder="ejemplo@123.com" />
                                    <div class="invalid-feedback">
                                        Por favor ingrese un correco electronico válido.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="address" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="address" placeholder="Calle Principal 666"
                                        required />
                                    <div class="invalid-feedback">
                                        Ingrese su dirección.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="address2" class="form-label">Dirección 2
                                        <span class="text-body-secondary">(Opcional)</span></label>
                                    <input type="text" class="form-control" id="address2"
                                        placeholder="Apartamento o Suite" />
                                </div>
                                <div class="col-md-5">
                                    <label for="country" class="form-label">País</label>
                                    <select class="form-select" id="country" required>
                                        <option value="">Seleccione...</option>
                                        <option>Costa Rica</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccione un país válido.
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="state" class="form-label">Cuidad</label>
                                    <select class="form-select" id="state" required>
                                        <option value="">Seleccione...</option>
                                        <option>Alajuela</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccione una cuidad válida.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Código postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required />
                                    <div class="invalid-feedback">Código postal es requerido.</div>
                                </div>
                            </div> <!-- termina validacion de datos-->
                            <!--parte de check box-->
                            <hr class="my-4" />
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="same-address" />
                                <label class="form-check-label" for="same-address">Mi dirección de facturación y de la tarjeta son las mismas</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="save-info" />
                                <label class="form-check-label" for="save-info">Guardar esta información para la siguiente compra</label>
                            </div><!--termina parte check box-->

                            <!--parte para selecionar tipo de tarjeta-->
                            <hr class="my-4" />
                            <h4 class="mb-3">Método de pago</h4>
                            <div class="my-3">
                                <div class="form-check">
                                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                        required />
                                    <label class="form-check-label" for="credit">Tarjeta de crédito</label>
                                </div>
                                <div class="form-check">
                                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required />
                                    <label class="form-check-label" for="debit">Tarjeta de débito</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                        required />
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                            </div><!--termina parte para elegir tipo de tarjeta-->

                            <!--Parte para ingresar la numeracion de la tarjeta-->
                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Nombre en la tarjeta</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required />
                                    <small class="text-body-secondary">Nombre completo como aparece en la tarjeta</small>
                                    <div class="invalid-feedback">Nombre en la tarjeta es requerido</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Número de tarjeta</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required />
                                    <div class="invalid-feedback">
                                        Número de tarjeta es requerido
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="cc-expiration" class="form-label">Fecha de Caducidad</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required />
                                    <div class="invalid-feedback">Fecha de Caducidad es requerida</div>
                                </div>
                                <div class="col-md-3">
                                    <label for="cc-cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required />
                                    <div class="invalid-feedback">Código de seguridad es requerido</div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <button class="w-100 btn btn-primary btn-lg" type="submit">
                                Reservar Vuelo
                            </button><!--termina parte para ingresar numeracion de la tarjeta-->
                        </form><br><br>
                    </div><!--termina parte central del check out-->
                </div><!--termina check out-->
            
        </div>
        
        </main>
        <!--sección de footer-->
    <footer class="footerDeSucursales">
        <div class="container"> 
            <section class="row text-center pb-0"><!-- Inicia seccion -->
    <!-- Inicia div de nosotros -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Nosotros</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Nuestra historia</a></li> <!--Se referencia a la misma página a falta de backend para simulación de redirección-->
                        <li class="mb-1"><a href="#">Trayectoria</a></li>
                        <li class="mb-1"><a href="#">Organigrama</a></li>
                        <li class="mb-1"><a href="#">Documentos de interés</a></li>
                    </ul>
                </div><!-- Termina div de nosotros -->

    <!-- Inicia div de información legal -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Información legal</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Términos y condiciones</a></li>
                        <li class="mb-1"><a href="#">Reclamos de servicios</a></li>
                        <li class="mb-1"><a href="#">Requisitos por país</a></li>
                        <li class="mb-1"><a href="#">Obligaciones a bordo</a></li>
                    </ul>
                </div><!-- Termina div de información legal -->

    <!-- Inicia div de datos de contacto -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Datos de contacto</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Centro de atención al cliente</a></li>
                        <li class="mb-1"><a href="#">Correo electrónico</a></li>
                        <li class="mb-1"><a href="#">Contacto para empresas</a></li>
                        <li class="mb-1"><a href="#">Formulario de reclamos</a></li>
                    </ul>
                </div><!-- Termina div de datos de contacto -->

    <!-- Inicia div de redes sociales -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Redes sociales</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Facebook</a></li>
                        <li class="mb-1"><a href="#">Instagram</a></li>
                        <li class="mb-1"><a href="#">WhatsApp <br>(canal de difusión)</a></li>
                    </ul>
                </div><!-- Termina div de redes sociales -->
            </section><!-- Termina seccion -->
        </div>        
    </footer><!-- Termina footer -->
        <!--============================================================================================================================================================================-->
        <!--=                                                      INICIA DOCUMENTACIÓN DEL FOOTER                                                                                     =-->
        <!--============================================================================================================================================================================-->
        <!--= row es una fila                                                                                                                                                          =-->
        <!--= text-center hace que el texto quede centrado horizontalmente                                                                                                             =-->
        <!--= pb-0 controla el padding inferior como es 0 que sin padding abajo                                                                                                        =-->
        <!--= container para ser tratado como la clase container de bootstrap y que contenga sus propiedades de caja                                                                   =-->
        <!--= section porque es una sección de la página                                                                                                                               =-->
        <!--= row para crear filas de elementos                                                                                                                                        =-->
        <!--= col-12 para que ocupe todo el ancho en dispositivos móviles                                                                                                              =-->
        <!--= col-md-6 para que ocupe la mitad en dispositivos medianos                                                                                                                =-->
        <!--= col-lg-3 para que ocupe un cuarto en dispositivos grandes                                                                                                                =-->
        <!--= list-unstyled para quitar los puntos de la lista                                                                                                                         =-->
        <!--= fw-bold para hacer el h4 en negrita                                                                                                                                      =-->
        <!--= href es para indicar donde llevará el enlance                                                                                                                            =-->
        <!--============================================================================================================================================================================-->
        <!--=                                                       TERMINA DOCUMENTACIÓN DEL FOOTER                                                                                   =-->
        <!--============================================================================================================================================================================-->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="../Assets/js/reservaVuelos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>