<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaciónDeVuelos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="Assets/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbarApex"><!-- INICIA NAV -->
            <div class="container-fluid px-4"><a class="navbar-brand text-white fw-bold fst-italic ms-3" href="../Views/index.html">
                <img src="Assets/img/fotosIndex/avionBarra.png" width="45" class="me-2">Apex Fly</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDelNavbar">
                <span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="menuDelNavbar">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/index.html"> Página de inicio</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/destinos.html"> Página de destinos</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/vuelos.html">Búsqueda de vuelos</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/sucursalesContacto.html">Sucursales y contacto</a></li>
                            <li class="nav-item"><a class="nav-link text-white rounded-2" href="../Views/login.html">Login</a></li></ul>
                    </div>
                </div>
            </div>
        </nav><!-- TERMINA NAV -->
    </header><!-- termina header -->
        <!--====================================================================================================================-->
        <!--=                                          INICIA DOCUMENTACIÓN DEL HEADER                                         =-->
        <!--====================================================================================================================-->
        <!--= navbar para indicar que es la barra de navegación                                                                =-->
        <!--= navbar-expand-lg mantiene la barra expandida en pantallas lg o superiores                                        =-->
        <!--= navbar-dark para cambiar el estilo de la barra de navegación a un tono claro (light para hacerlo oscuro jaja)    =-->
        <!--= navbarApex es la clase para editar desde el index.css                                                            =-->
        <!--= container para tratar el contenido de la barra de navegación                                                     =-->
        <!--= px-4 para agregar padding/espacio a los bordes laterales                                                         =-->
        <!--= nav-brand para tratar el logo de la aerolinea y el nombre como una marca sola de redireccionamiento              =-->
        <!--= text-white para cambiar el color del texto a blanco                                                              =-->
        <!--= fw-bold para cambiar el grosor del texto a negrita                                                               =-->
        <!--= fst-italic para cambiar el estilo del texto a cursiva                                                            =-->
        <!--= ms-3 para agregar un margen a la izquierda, o sea margin start 3                                                 =-->
        <!--= me-2 para agregar un margen a la derecha, o sea margin end 2 y separe del texto del nombre de la aerolinea       =-->
        <!--= width="45" para indicarle que tenga un ancho de 45 píxeles y que calcule la altura automáticamente               =-->
        <!--= Botón para colapsar la barra de navegación en pantallas pequeñas                                                 =-->
        <!--= navbar-toggler clases para abrir o cerrar la barra de navegación en dispositivos de pantallas pequeñas           =-->
        <!--= data-bs-toggle="collapse" para que el botón active el componente llamado collapse que viene de Js                =-->
        <!--= data-bs-target="#menuDelNavbar" para que busque lo que tenga ese identificador específico                        =-->
        <!--= navbar-toggler-icon para para dibujar el icono del botón para cerrar o abrir la barra de navegación              =-->
        <!--= collapse indica que es parte del nnavbar y colapsa la barra de navegación en pantallas pequeñas                  =-->
        <!--= navbar-nav para tratar los enlaces de navegación                                                                 =-->
        <!--= id="menuDelNavbar" para asignarle el identificador que se usa en el botón                                        =-->
        <!--= ms-auto para alinear los enlaces a la derecha, o sea margin start auto                                           =-->
        <!--= nav-link para tratar los enlaces de navegación                                                                   =-->
        <!--= nav-link agrega padding, separación, alineación y comportamiento de barra nav                                    =-->
        <!--= nav-item para tratar los elementos de la lista de navegación                                                     =-->
        <!--====================================================================================================================-->
        <!--=                                       TERMINA DOCUMENTACIÓN DEL HEADER                                           =-->
        <!--====================================================================================================================-->
    

                                <!--==========================================-->
                                <!-- Inicia MAIN que contiene DIV de carrito  -->
                                <!-- FORM de pagos                            -->
                                <!--==========================================-->
    <main>
        
        <div class="container"><!-- container ==> Bootstrap sirve para crear contenedor con un acho controlado, deja espacios a los lados-->
                                <!--==========================================-->
                                <!-- Inicia parte superior de sección de pago -->
                                <!--==========================================-->
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="../assets/img/fotosIndex/avionBarra.png" alt="" width="72" height="57" />
                    <h1 class="h2">Apex Fly</h1>
                    <p class="lead">"Ya estamos más cerca de completar tu nueva aventura"</p>

                    <!-- py-5 ==> Bootstrap agrega padding vertical (arriba y abajo)-->                            
                    <!-- text-center ==> Bootstrap centra horizontalmente el texto-->                              
                    <!-- d-block ==> Bootstrap convierte un elemento en display: block-->                          
                    <!-- mx-auto ==> Bootstrap márgenes automáticos a izquierda y derecha-->                       
                    <!-- mb-4 ==> Bootstrap agrega margen inferior-->                                              
                    <!-- lead ==> Bootstrap hace que un párrafo tenga un estilo más grande/destacado que un párrafo normal -->
                    <!-- src ==> HTML indica la ruta de la imagen-->
                    <!-- alt ==> HTML texto alternativo de una imagen-->
                    <!-- width y height ==>HTML ancho y alto del elemento-->
                    <!-- h2 ==>HTML encabezado de segundo nivel-->
                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                </div><!--termina parte superior de la sección de pagos-->

                                <!--=============================================-->
                                <!--          Inicia sección de pago            =-->
                                <!--=============================================-->
                <div class="row g-5">
                                <!--==========================================-->
                                <!--      Inicia DIV del carrito              -->
                                <!--==========================================-->
                    <div class="col-md-5 col-lg-4 order-md-last">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Carrito</span>
                            <span class="badge bg-primary rounded-pill">1</span>
                        </h4>
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between">
                            <div><h6 class="my-0">Tiquete de vuelo a:</h6></div>
                            <span class="text-body-secondary" id="destino"></span>
                            </li>
                            
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (US con impuestos incluidos)</span>
                                <strong id="totalCarrito">$0.00</strong>
                            </li>
                        </ul>

                    <!-- g-5 ==> Bootstrap Agrega espacio (gap) entre las columnas y filas de un row -->                                    
                    <!-- col-md-5 ==> Bootstrap En pantallas medianas o más grandes, ocupa 5 de 12 columnas -->                            
                    <!-- col-lg-4 ==> Bootstrap En pantallas grandes o más grandes, ocupa 4 de 12 columnas -->                          
                    <!-- order-md-last ==> Bootstrap En pantallas medianas o mayores, coloca el elemento al final del orden -->                       
                    <!-- d-flex ==> Bootstrap Convierte el elemento en un contenedor Flexbox -->                                              
                    <!-- justify-content-between ==> Bootstrap Con Flexbox, coloca los elementos con espacio entre ellos -->
                    <!-- align-items-center ==> Bootstrap Alinea los elementos verticalmente al centro -->
                    <!-- mb-3 ==> Bootstrap Agrega margen inferior (margin-bottom) -->
                    <!-- text-primary ==> Bootstrap Aplica el color primario de Bootstrap al texto -->
                    <!-- badge ==> Bootstrap Da apariencia de etiqueta pequeña o insignia -->
                    <!-- bg-primary ==> Bootstrap Pone el color de fondo primario de Bootstrap -->
                    <!-- rounded-pill ==> Bootstrap Hace que los bordes sean muy redondeados, como una pastilla -->
                    <!-- list-group ==> Bootstrap Crea un grupo de elementos de lista con estilo Bootstrap -->
                    <!-- list-group-item ==> Bootstrap Define cada elemento individual dentro de un list-group -->
                    <!-- my-0 ==> Bootstrap Elimina el margen vertical (margin-top y margin-bottom) -->
                    <!-- text-body-secondary ==> Bootstrap Aplica un color de texto secundario/apagado, normalmente gris -->
                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->       
                    
                    </div><!--termina DIV del carrito-->

                                <!--==============================================-->
                                <!--Inicia DIV parte central de la sección de pago-->
                                <!--==============================================-->
                    <div class="col-md-7 col-lg-8"><!-- col-md-7 col-lg-8  ==> Bootstrap  controla el ancho de una columna dependiendo del tamaño de la pantalla-->
                        <h4 class="mb-3">Dirección de facturación</h4><!-- mb-3 ==> Bootstrap Agrega margen inferior (margin-bottom)-->
                                <!--=============================================-->
                                <!--               Inicia FORM                  =-->
                                <!--=============================================-->
                        <form class="needs-validation" novalidate>
                            <!-- needs-validation ==> Bootstrap es para indicar que el formulario se validara mediante bootstrap JavaScript-->
                            <!-- novalidate ==> HTML para que no se use la validación automática del navegador-->
                        
                                <!--==============================================-->
                                <!--        Inicia validación de datos            -->
                                <!--==============================================-->
                            <div class="row g-3"><!-- row ==> Bootstrap Crea una fila dentro del sistema de columnas de Bootstrap -->
                                <!-- g-3 ==> Bootstrap Agrega espacio (gap) entre las columnas y filas de un row -->

                                <!--=============================================-->
                                <!--       Inicia ingresar  nombre              =-->
                                <!--=============================================-->
                                <div class="col-sm-6">
                                    <label for="nombreUsuario" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombreUsuario" placeholder="" value="" required />
                                    <div class="invalid-feedback">Nombre es requerido.</div>
                                    <!-- col-sm-6 ==> Bootstrap Hace que una columna ocupe 6 de 12 espacios (50%) desde pantallas pequeñas (sm) en adelante -->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                    <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                                    <!-- value ==> HTML Define el valor inicial de un campo -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div><!-- Termina ingresar nombre del usuario-->

                                <!--=============================================-->
                                <!--      Inicia ingresar  apellido             =-->
                                <!--=============================================-->
                                <div class="col-sm-6">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" placeholder="" value="" required />
                                    <div class="invalid-feedback">Apellido es requerido.</div>
                                    <!-- col-sm-6 ==> Bootstrap Hace que una columna ocupe 6 de 12 espacios (50%) desde pantallas pequeñas (sm) en adelante -->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                    <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                                    <!-- value ==> HTML Define el valor inicial de un campo -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div><!-- Termina ingresar apellido del usuario-->

                                <!--=============================================-->
                                <!--         Inicia ingresar  email             =-->
                                <!--=============================================-->
                                <div class="col-12">
                                    <label for="email" class="form-label">Correo electrónico<span class="text-body-secondary">(Opcional)</span></label>
                                    <input type="email" class="form-control" id="email" placeholder="ejemplo@123.com" />
                                    <div class="invalid-feedback">Por favor ingrese un correo electrónico válido.</div>
                                    <!-- col-12 ==> Bootstrap es una clase de Bootstrap que indica que un elemento debe ocupar las 12 columnas disponibles, es decir, el 100% del ancho de la fila-->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- text-body-secondary ==> Bootstrap Aplica un color de texto secundario/apagado, normalmente gris.-->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                    <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div><!-- termina ingresar email-->
                                <!--=============================================-->
                                <!-- Inicia ingresar  dirección 1 y 2(opcional) =-->
                                <!--=============================================-->
                                <div class="col-12">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="direccion" placeholder="Calle Principal 666" required />
                                    <div class="invalid-feedback">Ingrese su dirección.</div>
                                    <!-- col-12 ==> Bootstrap es una clase de Bootstrap que indica que un elemento debe ocupar las 12 columnas disponibles, es decir, el 100% del ancho de la fila-->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- text-body-secondary ==> Bootstrap Aplica un color de texto secundario/apagado, normalmente gris.-->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                    <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div>
                                <div class="col-12">
                                    <label for="direccion2" class="form-label">Dirección 2<span class="text-body-secondary">(Opcional)</span></label>
                                    <input type="text" class="form-control" id="direccion2" placeholder="Apartamento o Suite" />
                                </div><!-- termina ingresar dirección 1 y 2(opcional) -->

                                <!--=============================================-->
                                <!--         Inicia seleccionar país             =-->
                                <!--=============================================-->
                                <div class="col-md-5">
                                    <label for="pais" class="form-label">País</label>
                                    <select class="form-select" id="pais" required>
                                        <option value="">Seleccione...</option>
                                        <option>Costa Rica</option>
                                    </select>
                                    <div class="invalid-feedback">Seleccione un país válido.</div>
                                    <!-- col-md-5 En pantallas medianas o más grandes, ocupa 5 de 12 columnas==> Bootstrap -->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- value ==> HTML Define el valor inicial de un campo -->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div><!-- termina seleccionar país -->

                                <!--=============================================-->
                                <!--        Inicia seleccionar  provincia       =-->
                                <!--=============================================-->
                                <div class="col-md-4">
                                    <label for="provincia" class="form-label">Provincia</label>
                                    <select class="form-select" id="provincia" required>
                                        <option value="">Seleccione...</option>
                                        <option>Alajuela</option>
                                    </select>
                                    <div class="invalid-feedback">Seleccione una provincia válida.</div>
                                    <!-- col-md-4 ==> Bootstrap En pantallas medianas o más grandes, ocupa 4 de 12 columnas -->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- value ==> HTML Define el valor inicial de un campo -->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                </div><!-- termina ingresar seleccionar cuidad -->

                                <!--=============================================-->
                                <!--        Inicia ingresar código postal       =-->
                                <!--=============================================-->
                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Código postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required />
                                    <div class="invalid-feedback">Código postal es requerido.</div>
                                    <!-- col-md-3 ==> Bootstrap En pantallas medianas o más grandes, ocupa 3 de 12 columnas -->
                                    <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                    <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                    <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                    <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                    <!-- required ==> HTML  indica que un campo es obligatorio-->
                                    <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                    <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                    <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                                </div><!-- termina ingresar código postal -->
                            </div><!-- termina validación de datos-->

                                <!--=============================================-->
                                <!--        Inicia elegir tipo de tarjeta       =-->
                                <!--=============================================-->
                            <hr class="my-4"/><!-- hr etiqueta que hace linea horizontal--> <!-- my-4 ==> Bootstrap margen arriba y abajo de tamaño 4-->
                            <h4 class="mb-3">Método de pago</h4><!-- mb-3 ==> Bootstrap Agrega margen inferior (margin-bottom)-->
                            <div class="my-3"><!-- my-3 ==> Bootstrap margen arriba y abajo de tamaño 3-->
                                <div class="form-check">
                                    <input id="tarjetaCredito" name="metodoDePago" type="radio" class="form-check-input" checked required />
                                    <label class="form-check-label" for="tarjetaCredito">Tarjeta de crédito</label>
                                </div>
                                <div class="form-check">
                                    <input id="tarjetaDebito" name="metodoDePago" type="radio" class="form-check-input" required />
                                    <label class="form-check-label" for="tarjetaDebito">Tarjeta de débito</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="metodoDePago" type="radio" class="form-check-input" required />
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                                <!-- form-check ==> Bootstrap Crea el contenedor/estructura para un checkbox o radio-->
                                <!-- form-check-input ==> Bootstrap Da el estilo de Bootstrap al botón checkbox o radio.-->
                                <!-- form-check-label ==> Bootstrap Da estilo al texto asociado al checkbox o radio.-->
                                <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                <!-- required ==> HTML  indica que un campo es obligatorio-->
                                <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                <!-- name ==> HTML sirve para darle un nombre al dato que se enviará cuando el formulario se envía-->
                                <!-- radio ==> HTML Indica que el <input> es un botón de opción cuando se usa como type="radio"-->
                                <!-- checked ==> HTML Hace que el checkbox o radio aparezca seleccionado inicialmente-->
                            </div><!-- termina parte para elegir tipo de tarjeta -->

                                <!--=============================================-->
                                <!--Inicia ingresar la numeración de la tarjeta =-->
                                <!--=============================================-->
                            <div class="row gy-3"><!-- gy-3 ==> Bootstrap agrega espacio (gap) verticalmente, es decir, entre elementos de arriba hacia abajo-->
                                <div class="col-md-6">
                                    <label for="nombreTarjeta" class="form-label">Nombre en la tarjeta</label>
                                    <input type="text" class="form-control" id="nombreTarjeta" placeholder="" required />
                                    <small class="text-body-secondary">Nombre completo como aparece en la tarjeta</small>
                                    <div class="invalid-feedback">Nombre en la tarjeta es requerido</div>
                                </div>
                                <div class="col-md-6">
                                    <label for="numeracionTarjeta" class="form-label">Número de tarjeta</label>
                                    <input type="text" class="form-control" id="numeracionTarjeta" placeholder="" required />
                                    <div class="invalid-feedback">Número de tarjeta es requerido</div>
                                </div>
                                <div class="col-md-4">
                                    <label for="venceTarjeta" class="form-label">Fecha de Caducidad</label>
                                    <input type="text" class="form-control" id="venceTarjeta" placeholder="" required />
                                    <div class="invalid-feedback">Fecha de Caducidad es requerida</div>
                                </div>
                                <div class="col-md-3">
                                    <label for="codigoSeguridad" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="codigoSeguridad" placeholder="" required />
                                    <div class="invalid-feedback">Código de seguridad es requerido</div>
                                </div>
                                <!-- col-md- ==> Bootstrap En pantallas medianas o más grandes, ocupa x (-6-4-3) de 12 columnas -->
                                <!-- form-label ==> Bootstrap Da estilo de Bootstrap al <label> -->
                                <!-- form-control ==> Bootstrap Da estilo de Bootstrap a los campos de formulario (input, textarea, etc.) -->
                                <!-- text-body-secondary ==> Bootstrap Aplica un color de texto secundario/apagado, normalmente gris -->
                                <!-- invalid-feedback ==> Bootstrap Muestra un mensaje de error cuando un campo no es válido -->
                                <!-- row ==> Bootstrap Crea una fila dentro del sistema de columnas de Bootstrap -->
                                <!-- for ==> HTML Conecta un <label> con un elemento del formulario mediante su id -->
                                <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                                <!-- required ==> HTML  indica que un campo es obligatorio-->
                                <!-- id ==> HTML Sirve para darle un identificador único a un elemento-->
                                <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                <!-- placeholder ==> HTML Muestra un texto de ayuda dentro del campo mientras está vacío -->
                            </div><!-- termina ingresar la numeración de la tarjeta -->

                                <!--=============================================-->
                                <!--        Inicia botón realizar pago          =-->
                                <!--=============================================-->
                            <hr class="my-4"/><!-- hr etiqueta que hace linea horizontal--> <!-- my-4 ==> Bootstrap margen arriba y abajo de tamaño 4-->
                            <button class="w-50 btn btn-primary btn-lg d-block mx-auto" type="submit">Reservar Vuelo</button>
                                <!-- w-50 ==> Bootstrap El botón ocupa 50% del ancho disponible -->
                                <!-- btn ==> Bootstrap Le da el estilo base de botón de Bootstrap -->
                                <!-- btn-primary ==> Bootstrap Le da el color primario de Bootstrap, normalmente azul -->
                                <!-- btn-lg ==> Bootstrap Hace el botón más grande -->
                                <!-- d-block ==> Bootstrap Hace que el botón sea un elemento de tipo block -->
                                <!-- mx-auto ==> Bootstrap Pone margen automático a izquierda y derecha para centrarlo -->
                                <!-- class ==> HTML sirve para asignarle una o varias clases a un elemento-->
                                <!-- type ==> HTML Indica qué tipo de campo es un <input>: texto, email, contraseña, número, etc -->
                        </form><br><br><!-- termina form-->
                    </div><!--termina parte central de la sección de pago-->
                </div><!--termina sección de pago-->
        </div><!-- Termina DIV container-->
        
        </main>
                <!--==========================================-->
                <!--               Inicia FOOTER              -->
                <!--==========================================-->
    <footer class="footerDeSucursales">
        <div class="container"> 
            <section class="row text-center pb-0"><!-- Inicia seccion -->
    <!-- Inicia div de nosotros -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Nosotros</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Nuestra historia</a></li> <!--Se referencia a la misma página a falta de backend para simulación de redirección-->
                        <li class="mb-1"><a href="#">Trayectoria</a></li>
                        <li class="mb-1"><a href="#">Organigrama</a></li>
                        <li class="mb-1"><a href="#">Documentos de interés</a></li>
                    </ul>
                </div><!-- Termina div de nosotros -->

    <!-- Inicia div de información legal -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Información legal</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Términos y condiciones</a></li>
                        <li class="mb-1"><a href="#">Reclamos de servicios</a></li>
                        <li class="mb-1"><a href="#">Requisitos por país</a></li>
                        <li class="mb-1"><a href="#">Obligaciones a bordo</a></li>
                    </ul>
                </div><!-- Termina div de información legal -->

    <!-- Inicia div de datos de contacto -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Datos de contacto</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Centro de atención al cliente</a></li>
                        <li class="mb-1"><a href="#">Correo electrónico</a></li>
                        <li class="mb-1"><a href="#">Contacto para empresas</a></li>
                        <li class="mb-1"><a href="#">Formulario de reclamos</a></li>
                    </ul>
                </div><!-- Termina div de datos de contacto -->

    <!-- Inicia div de redes sociales -->
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="fw-bold">Redes sociales</h4>
                    <ul class="list-unstyled">
                        <li class="mb-1"><a href="#">Facebook</a></li>
                        <li class="mb-1"><a href="#">Instagram</a></li>
                        <li class="mb-1"><a href="#">WhatsApp <br>(canal de difusión)</a></li>
                    </ul>
                </div><!-- Termina div de redes sociales -->
            </section><!-- Termina seccion -->
        </div>        
    </footer><!-- Termina footer -->
        <!--============================================================================================================================================================================-->
        <!--=                                                      INICIA DOCUMENTACIÓN DEL FOOTER                                                                                     =-->
        <!--============================================================================================================================================================================-->
        <!--= row es una fila                                                                                                                                                          =-->
        <!--= text-center hace que el texto quede centrado horizontalmente                                                                                                             =-->
        <!--= pb-0 controla el padding inferior como es 0 que sin padding abajo                                                                                                        =-->
        <!--= container para ser tratado como la clase container de bootstrap y que contenga sus propiedades de caja                                                                   =-->
        <!--= section porque es una sección de la página                                                                                                                               =-->
        <!--= row para crear filas de elementos                                                                                                                                        =-->
        <!--= col-12 para que ocupe todo el ancho en dispositivos móviles                                                                                                              =-->
        <!--= col-md-6 para que ocupe la mitad en dispositivos medianos                                                                                                                =-->
        <!--= col-lg-3 para que ocupe un cuarto en dispositivos grandes                                                                                                                =-->
        <!--= list-unstyled para quitar los puntos de la lista                                                                                                                         =-->
        <!--= fw-bold para hacer el h4 en negrita                                                                                                                                      =-->
        <!--= href es para indicar donde llevará el enlance                                                                                                                            =-->
        <!--============================================================================================================================================================================-->
        <!--=                                                       TERMINA DOCUMENTACIÓN DEL FOOTER                                                                                   =-->
        <!--============================================================================================================================================================================-->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="Assets/js/reservaVuelos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>