<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Búsqueda de Vuelos</title>
    <link rel="stylesheet" href="../Assets/css/vuelos.css">
    <!--los styles de abajo son para identificar yo poder ubicarme mejor en la pagina-->
    <style>
        .divMain1{border: solid red; height: 200vh; display: flex;}
        .asideDestinos{border: solid green; width: 30%; height: 200vh; display: flex;
        flex-direction: column;}
        .asidePais{border: solid black; height: 33vh; display: flex; flex-direction: column;
        align-items: center;}
        .imgPais{width: 70px; height: 40px;}
        .divHorarios{border: solid yellow; width: 100%; height: 26vh;}

        .divMain2{border: solid orange; width: 70%;}
        .divPais{border: solid blue; height: 32.78vh; display: flex; flex-direction: column;
        align-items: center;}
        .divPrecios{border: solid purple; width: 100%; height: 26vh;}
    </style>
</head>
<body>
    <!--Header para navegacion rapida entre las diferentes ventanas de la pagina web-->
    <header>
        <div class="divDeBarraDeNavegacionIndex">
        <p><strong><em>Apex Fly</em></strong></p>
        <img src="../Assets/img/fotosIndex/avionBarra.png">
        <a href="../Views/index.html">Página de inicio</a>
        <a href="destinos.html">Página de destinos</a>
        <a href="../Views/vuelos.html">Búsqueda de vuelos</a>
        <a href="../Views/sucursalesContacto.html">Sucursales y contacto</a>
        </div>
        
    </header>
    <div class="buscadorDeVuelos">
        <div class="titulo" ><h2>¿Cuál será nuestra próxima aventura juntos?</h2></div>
            <div class="formVuelos" >
                <form >
        <!--campo para el origen-->
                    <div class="origen">
                    <label for="origen">Origen:</label>
                    <input class="inputBuscador" type="text" id="origen" name="origen" placeholder="Ciudad de origen" required>
                    </div>
    <!--campo para el destino, se hace con select para tener mas control de los destinos que se pueden escoger-->
                        <div class="origen">
                        <label for="destino">Destino:</label>
                        <select class="inputBuscador" name="destino" id="destino" required>
                        <option value=""></option>
                        <option value="PAFA">París, Francia</option>
                        <option value="TOJA">Tokio, Japón</option>
                        <option value="RIBR">Río de Janeiro, Brasil</option>
                        <option value="SACO">San José, Costa Rica</option>
                        <option value="CUPE">Cusco, Perú</option>
                        <option value="ILGR">Ililissat, Groenlandia</option>
                        </select>
                        </div>
    <!--campo para la fecha de viaje (IDA)-->
                            <div class="origen">
                            <label for="fecha">Fecha de Ida:</label>
                            <input class="inputBuscador" type="date" id="fecha" name="fecha" required>
                            </div>
    <!--campo para la fecha de viaje (VUELTA)-->
                                <div class="origen">
                                <label for="fecha">Fecha de Regreso:</label>
                                <input class="inputBuscador" type="date" id="fecha" name="fecha" required>
                                </div>
    <!--campo para ingresar la cantidad de pasajeros-->
                                    <div class="origen">
                                    <label for="cantidad_pasajeros">Cantidad de Pasajeros:</label>
                                    <input class="inputBuscador" type="number" id="cantidad_pasajeros" name="cantidad_pasajeros" placeholder="" min="1" max="9" required>
                                    </div>
    <!--botón para para ver destinos, tengo que definir como es que se va a cargar la informacion a darle click-->
                                        <div botonViajar>
                                        <button class="btnViajar" type="submit">Ver Destino</button>
                                        </div>
                </form>
            </div>
    </div>
    <main>
        <!--Caja principal para agrupar elementos-->
    <div class="divMain1">
        <!--aside para montar pais con horarios, aun por definir como mostrarlos-->
        <aside class="asideDestinos">
            <div class="asidePais">
                <span>Francia</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/francia.webp" alt="Francia">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
            <div class="asidePais">
                <span>Japón</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/japon.webp" alt="Japón">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
            <div class="asidePais">
                <span>Brasil</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/brasil.webp" alt="Brasil">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
            <div class="asidePais">
                <span>Costa Rica</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/costarica.webp" alt="Costa Rica">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
            <div class="asidePais">
                <span>Perú</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/peru.webp" alt="Perú">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
            <div class="asidePais">
                <span>Groenlandia</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/groenlandia.webp" alt="Groenlandia">
                <div class="divHorarios">
                    <h2>Aqui van los horarios de los vuelos</h2>
                </div>
            </div>
        </aside>
        <!--caja que va a la par del aside-->

        <!--Inicia div main 2-->
        <div class="divMain2">
            
            <div class="divPais">
                <span>Francia</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/francia.webp" alt="Francia">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div>
            <div class="divPais">
                <span>Japón</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/japon.webp" alt="Japón">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div>
            <div class="divPais">
                <span>Brasil</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/brasil.webp" alt="Brasil">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div>
            <div class="divPais">
                <span>Costa Rica</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/costarica.webp" alt="Costa Rica">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div>
            <div class="divPais">
                <span>Perú</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/peru.webp" alt="Perú">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div>
            <div class="divPais">
                <span>Groenlandia</span>
                <img class="imgPais" src="../Assets/img/fotosVuelos/groenlandia.webp" alt="Groenlandia">
                <div class="divPrecios">
                    <h2>Aqui van los precios/datos de los vuelos</h2>
                </div>
            </div><!--termina div main 2-->

        </div>
    </div><!--termina div caja principal-->
    </main>
</body>
</html>