
/*-----------------------------------------------------------------------------------------------------*/
/*Estilos */
/*-----------------------------------------------------------------------------------------------------*/

body{font-family: Arial, sans-serif; /*Modifica la fuente central del body, el color de fondo, el margen y el padding*/
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h2{text-align: center; /*Modifica el comportamiento por defecto de los títulos h2 del body*/
}

a{color: rgb(0, 0, 0); /*Modifica el color del texto general del cuerpo (este logra cambiarse en cada caso según el modelo cascada pero es el color base si no se modiica a pie)*/
    text-decoration: none;}
/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la barra de navegación*/
/*-----------------------------------------------------------------------------------------------------*/
.divBarradenavegacionDestinos{
    background: #58b6b3; /*Modifica el div contenedor de la barra de navegación*/
    display: flex;
    justify-content: center;
    align-items:center;
    height: 70px;
}
.divBarradenavegacionDestinos img{
width: 50px; /*Modifica la imagen/logo de la aerolinea en la barra de navegación*/
height: auto;
}

.divBarradenavegacionDestinos .logo {
    font-size: 30px; /*Modifica el texto para la marca de la aerolinea en la barra de navegación*/
    font-family: sans-serif;
    color: white;
    margin-right: 7px;
}

.divBarradenavegacionDestinos ul{ /*Modifica los enlaces de la barra de navegación*/
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.divBarradenavegacionDestinos li {
    height: 100%;
}
.divBarradenavegacionDestinos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 180px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}
.divBarradenavegacionDestinos a:hover{
background: rgb(255, 158, 41); /*Modifica el comportamiento de la barra de navegación*/
cursor: pointer;
transform: scaleY(1.03);}

.divBarradenavegacionDestinos p{
    font-size: 30px; /*Modifica el texto para la marca de la aerolinea en la barra de navegación*/
    font-family: sans-serif;
    color: white;
    margin-right: 7px;}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de footer*/ 
/*-----------------------------------------------------------------------------------------------------*/

.divContenedorDeFooterDestinos {background-color: #FFFFFF; /*Modifica el contenedor del footer del ubicaciones y contacto general donde está todo guardado*/ 
    display: flex;
    width: 90%;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    gap: 20px;}

.divDeFooterDestinos {background-color: #FFFFFF; /*Modifica cada div individual dentro del div general ubicaciones y contacto*/
    width: 250px;}

.divDeFooterDestinos ul{list-style: none; /*Modifica las listas desordenadas del footer*/
    text-align: center;
    padding: 0;
    text-align: center;} 

.divDeFooterDestinos li{margin: 15px 0px;} /*Modifica los elementos de las listas del footer*/

.footerDestinos p{background-color: #e2e2e2; /*Modifica el texto de derechos reservados del footer*/
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;} 