/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de títulos generales para pruebas*/
/*-----------------------------------------------------------------------------------------------------*/

body{font-family: Arial, sans-serif; /*Modifica la fuente central del body, el color de fondo, el margen y el padding*/
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: black;
}

h2{text-align: center; /*Modifica el comportamiento por defecto de los títulos h2 del body*/
font-family: Arial, sans-serif;}

a{ color: black; /*Modifica el color del texto general del cuerpo (este logra cambiarse en cada caso según el modelo cascada pero es el color base si no se modiica a pie)*/
    text-decoration: none;}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la barra de navegación del index*/
/*-----------------------------------------------------------------------------------------------------*/

.navbarApex{ /*Modifica aspectos generales de la barra de navegación*/
    background: #58b6b3; /*Modifica el color del fondo del nav de la barra de navegación*/
} 

.navbarApex .nav-link { /*Modifica los enlaces de la barra de navegación*/
    font-size: 19px; /*Modifica el tamaño de la letra*/
}

.navbarApex .nav-link:hover { /*Modifica como se comporta al posicionarse sobre los enlaces del nav*/
    background: rgb(255, 158, 41); /*Modifica el color de transición de los enlaces del nav*/
    transition: background-color 0.3s; /*Modifica el tiempo de trannsición a los parámetros*/
}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la parte superior del index*/
/*-----------------------------------------------------------------------------------------------------*/

.divDeFondoSuperior{ /*Modifica el div del banner del avión y la frase*/
    width: 100%;
    height: 470px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease;
    position: relative;
    margin-bottom: 0%;}

.divDeFondoSuperior img{width: 100%; /*Modifica la imagen del banner del div superior*/
height: 100%;
object-fit: cover;}

.textoDeBannerIndex{position: absolute; /*Modifica el texto/frase del banner del div superior*/
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(187, 205, 195, 0.3);
    color: rgb(110, 110, 110);
    padding: 20px;
    font-size: 18px;}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de destinos del index*/
/*-----------------------------------------------------------------------------------------------------*/

.divContenedorDeDestinosPrincipalesIndex{background-color: #FFFFFF; /*Modifica el div contenedor principal que engloba todos los divs de destinos index*/
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.articleDestinosPrincipalesIndex{background-color: #eff5de; /*Modifica cada div individual dentro del contenedor div general de destinos index*/
    border: 1px solid grey;
    width: 400px;
    height: 350px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    position: relative}

.articleDestinosPrincipalesIndex:hover{transform: translateY(-5px); /*Modifica el comportamiento de los divs de destinos principales al pasar el cursos sobre ellos*/
    cursor: pointer;}

.imagenDestinosIndex{width: 100%; /*Modifica el tamaño y comportamiento de las imágenes dentro de cada div de destinos index sobre el texto*/
height: 100%;
object-fit: cover;}

.capaDeTexto{position: absolute; /*Modifica el texto de las imagenes de los divs de destinos del index*/
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    font-size: 18px;}


.divInferiorDeDestinosIndex{ background-color: #58b6b3; /*Modifica el div inferior de destinos en el index, donde redirige a destinos*/
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 40px auto;
    width: 30%;
    border-radius: 10px;
    font-size: 18px;
}

.divInferiorDeDestinosIndex:hover{background-color: rgb(255, 158, 41); /*Modifica el efecto del div inferior de destinos en el index, donde redirige a destinos*/
cursor: pointer;
transition: background-color 0.3s}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de footer*/
/*-----------------------------------------------------------------------------------------------------*/
.divContenedorDeFooterIndex {background-color: #FFFFFF; /*Modifica el contenedor del footer del ubicaciones y contacto general donde está todo guardado*/ 
    display: flex;
    width: 90%;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    gap: 20px;}

.divDeFooterIndex {background-color: #FFFFFF; /*Modifica cada div individual dentro del div general ubicaciones y contacto*/
    width: 250px;}

.divDeFooterIndex ul{list-style: none; /*Modifica las listas desordenadas del footer*/
    text-align: center;
    padding: 0;
    text-align: center;} 

.divDeFooterIndex li{margin: 15px 0px;} /*Modifica los elementos de las listas del footer*/

.footerDeSucursales p{background-color: #e2e2e2; /*Modifica el texto de derechos reservados del footer*/
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;} 