/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de títulos generales para pruebas*/
/*-----------------------------------------------------------------------------------------------------*/

body{font-family: Arial, sans-serif; /*Modifica la fuente central del body, el color de fondo, el margen y el padding*/
}

a{ color: black; /*Modifica el color del texto general del cuerpo (este logra cambiarse en cada caso según el modelo cascada pero es el color base si no se modiica a pie)*/
    text-decoration: none;}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la barra de navegación*/
/*-----------------------------------------------------------------------------------------------------*/

.navbarApex{ /*Modifica aspectos generales de la barra de navegación*/
    background: #58b6b3; /*Modifica el color del fondo del nav de la barra de navegación*/
} 

.navbarApex .nav-link { /*Modifica los enlaces de la barra de navegación*/
    font-size: 19px; /*Modifica el tamaño de la letra*/
}

.navbarApex .nav-link:hover { /*Modifica como se comporta al posicionarse sobre los enlaces del nav*/
    background: rgb(255, 158, 41); /*Modifica el color de transición de los enlaces del nav*/
    transition: background-color 0.3s; /*Modifica el tiempo de trannsición a los parámetros*/
}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de ubicaciones*/
/*-----------------------------------------------------------------------------------------------------*/

.divContenedorDeSucursales{background-color: #FFFFFF; /*Modifica el div contenedor principal que engloba todos los divs de ubicaciones físicas*/
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 100px;
}

.articleDeSucursales{background-color: #eff5de; /*Modifica cada div individual dentro del contenedor div general de ubicaciones físicas*/
    border: 1px solid grey;
    width: 400px;
    height: 350px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    position: relative}

.articleDeSucursales:hover{transform: translateY(-5px); /*Modifica el comportamiento de los divs de las ubicaciones físicas principales al pasar el cursos sobre ellos*/
    cursor: pointer;}

.mapaSucursales{width: 100%; /*Modifica el tamaño y comportamiento de las imágenes dentro de cada div de ubicaciones físicas sobre el texto*/
height: 100%;
object-fit: cover;}

.capaDeTexto{position: absolute; /*Modifica el texto de las imagenes de los divs de ubicaciones físicas*/
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 18px;}

*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de contacto*/
/*-----------------------------------------------------------------------------------------------------*/
.footerDeSucursales {background-color: #FFFFFF;}

.divContenedorDeContactoSucursales {background-color: #FFFFFF; /*Modifica el contenedor de los datos de contacto*/ 
    display: flex;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    gap: 255px;}

.articleDeContactoSucursales {background-color: #58b6b3; /*Modifica cada div individual dentro del div general de contacto*/
    width: 250px;
    border-radius: 7px;}

.articleDeContactoSucursales ul{list-style: none; /*Modifica las listas desordenadas de contacto*/
    text-align: center;
    padding: 0;
    text-align: center;
    font-size: 17px;} 

.articleDeContactoSucursales li{margin: 15px 0px;} /*Modifica los elementos de las listas de contacto*/

.footerDeSucursales p{background-color: #e2e2e2; /*Modifica el texto de derechos reservados de contacto*/
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;} 


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de footer*/
/*-----------------------------------------------------------------------------------------------------*/

.footerDeSucursales a:hover{color: rgb(255, 158, 41); /*controla el color del enlace al pasar el cursor sobre él*/
transition: 0.2s;} /*controla la transición del color del enlace al pasar el cursor sobre él*/