/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la barra de navegación del index*/
/*-----------------------------------------------------------------------------------------------------*/
.divVuelos{
    background: #58b6b3; /*Modifica el div contenedor de la barra de navegación*/
    display: flex;
    justify-content: center;
    align-items:center;
    height: 70px;}
.divVuelos img{
width: 50px; /*Modifica la imagen/logo de la aerolinea en la barra de navegación*/
height: auto;}

.divVuelos .logo {
    font-size: 30px; /*Modifica el texto para la marca de la aerolinea en la barra de navegación*/
    font-family: sans-serif;
    color: white;
    margin-right: 7px;}

.divVuelos ul{ /*Modifica los enlaces de la barra de navegación*/
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;}
.divVuelos li {
    height: 100%;}
.divVuelos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 180px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-family: sans-serif;
    transition: background-color 0.3s ease;}
.divVuelos a:hover{
background: rgb(255, 158, 41); /*Modifica el comportamiento de la barra de navegación*/
cursor: pointer;
transform: scaleY(1.03);}

.divVuelos p{
    font-size: 30px; /*Modifica el texto para la marca de la aerolinea en la barra de navegación*/
    font-family: sans-serif;
    color: white;
    margin-right: 7px;}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos del header buscador de vuelos*/
/*-----------------------------------------------------------------------------------------------------*/
.buscadorDeVuelos{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 250px;}

.titulo{
    display: flex;
    justify-content: center;}

form{
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60%;}

.formVuelos{
    width: 100%;
    height: 20vh;}

.origen{
    width: 19%;
    height: 100%;}

.botonViajar{
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.btnViajar{
    background: rgb(220, 150, 66);
    cursor: pointer;
    transition: background-color 0.3s;
    transform: scaleY(1.03);
}

.inputBuscador{width: 50%;}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de footer*/
/*-----------------------------------------------------------------------------------------------------*/
.divContenedorDeFooterVuelos {
    background-color: #FFFFFF; 
    display: flex;
    width: 90%;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    gap: 20px;}

.divDeFooterVuelos {
    background-color: #FFFFFF; 
    width: 250px;}

.divDeFooterVuelos ul{
    list-style: none; 
    text-align: center;
    padding: 0;
    text-align: center;} 

.divDeFooterVuelos li{margin: 15px 0px;} 

.footerDeSucursales p{
    background-color: #e2e2e2; 
    border: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;} 
