
/*-----------------------------------------------------------------------------------------------------*/
/*Estilos del header buscador de vuelos*/
/*-----------------------------------------------------------------------------------------------------*/
.buscadorDeVuelos{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 250px;}

.titulo{
    display: flex;
    justify-content: center;}

form{
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60%;}

.formVuelos{
    width: 100%;
    height: 20vh;}

.origen{
    width: 19%;
    height: 100%;}

.botonViajar{
    width: 19%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.btnViajar{
    background: rgb(220, 150, 66);
    cursor: pointer;
    transition: background-color 0.3s;
    transform: scaleY(1.03);
}

.inputBuscador{width: 50%;}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de seccion horarios y precios de los vuelos*/
/*-----------------------------------------------------------------------------------------------------*/
    .imgPais{width: 70px; height: 40px;}
    .imgHorarios{ width: 30px; height: 30px;}
    .pais{gap: 10px; margin: 5px;}
    .row{margin: 5px 0px;}
    .col-4{margin: 5px 16px; background-color: antiquewhite; }
    .col-7{margin: 5px 0px 5px 0px; background-color: beige;}
    .imgFrancia{width: 90px;}
    .imagenFrancia{ display: flex; flex-direction: column; align-items: center;}
    section{ display: flex; align-content: space-evenly;}