/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de títulos generales para pruebas*/
/*-----------------------------------------------------------------------------------------------------*/

body{font-family: Arial, sans-serif; /*Modifica la fuente central del body, el color de fondo, el margen y el padding*/
}

a{ color: black; /*Modifica el color del texto general del cuerpo (este logra cambiarse en cada caso según el modelo cascada pero es el color base si no se modiica a pie)*/
    text-decoration: none;}


/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la barra de navegación*/
/*-----------------------------------------------------------------------------------------------------*/

.navbarApex{ /*Modifica aspectos generales de la barra de navegación*/
    background: #58b6b3; /*Modifica el color del fondo del nav de la barra de navegación*/
} 

.navbarApex .nav-link { /*Modifica los enlaces de la barra de navegación*/
    font-size: 19px; /*Modifica el tamaño de la letra*/
}

.navbarApex .nav-link:hover { /*Modifica como se comporta al posicionarse sobre los enlaces del nav*/
    background: rgb(255, 158, 41); /*Modifica el color de transición de los enlaces del nav*/
    transition: background-color 0.3s; /*Modifica el tiempo de trannsición a los parámetros*/
}

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de ubicaciones*/
/*-----------------------------------------------------------------------------------------------------*/
.articleDeSucursales{background-color: #eff5de; /*Modifica cada artículo de ubicaciones físicas*/
    width: 100%; /*maneja el ancho dentro de la columna que se hizo en bootstrap*/
    max-width: 480px; /*para controlar el maximo de altura*/
    margin: 0 auto; /*para centrarlo*/
    height: 450px; /* modifica la altura*/
    border-radius: 10px; /*redondea las esquinas*/
    overflow: hidden; /*hace que el contenido no salga del artículo*/
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15); /*agrega una sombra alrededor*/
    transition: 0.3s ease; /* hace más suave y no de golpe el efecto al pasar el cursos*/
    position: relative} /* pone usa el artículo como referencia para poner la capa de texto*/

.articleDeSucursales:hover{ /*Modifica el comportamiento al pasar el cursos sobre ellos*/
    transform: translateY(-5px);/*mueve 5 pixeles hacia arriba al usarlo con Y*/ 
    cursor: pointer;} /*cambia el cursos cuando pase sobre ellos*/

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de los mapas*/
/*-----------------------------------------------------------------------------------------------------*/
.mapaSucursales{ /*Modifica el tamaño y comportamiento de los mapas dentro de cada div de ubicaciones físicas sobre el texto*/
    height: 100%; /*hace que el mapa ocupe toda la altura*/
    width: 100%; /*hace que el mapa ocupe todo el ancho*/ 
    border: 0;} /*quita el borde que trae el iframe*/

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la capa de texto*/
/*-----------------------------------------------------------------------------------------------------*/
.capaDeTexto{ /*Modifica el texto de las imagenes de los divs de ubicaciones físicas*/
    position: absolute; /*se usa para poner la capa sobre el mapa que aparece de cada ubicación*/
    bottom: 0; /*pone la capa de texto en l aparte de abajo*/
    left: 0; /* hace que comience el texto desde la izquierda*/
    width: 100%; /*hace que ocupe todo el ancho*/
    background-color: rgba(0,0,0,0.5); /*agrega un fondo semitransparente a la capa de texto*/
    color: white; /*vuelve el texto color blanco*/
    padding: 15px; /*agrega un espacio interno alrededor tel texto*/
    text-align: center;} /*centra el texto agregado*/

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de contacto*/
/*-----------------------------------------------------------------------------------------------------*/

.articleDeContactoSucursales{ /*Modifica el contenedor de los datos de contacto*/ 
    background-color: #58b6b3; /*fondo de color blanco*/ 
    width: 330px; /*regula el ancho/
    max-width: 400px; /*limita el ancho del máximo como la parte del mapa*/
    margin: 0 auto; /*centra dentro de la columna*/
    text-align: center; /* centra el contenido*/
    border-radius: 7px;} /* redondea las esquinas*/

/*-----------------------------------------------------------------------------------------------------*/
/*Estilos de la sección de footer*/
/*-----------------------------------------------------------------------------------------------------*/
.footerDeSucursales a:hover{color: rgb(255, 158, 41); /*controla el color del enlace al pasar el cursor sobre él*/
transition: 0.2s;} /*controla la transición del color del enlace al pasar el cursor sobre él*/