/*Estilos de títulos generales para pruebas*/

body{font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}

h2{text-align: center;
}

/*Estilos de la barra de navegación del index*/

.barraDeNavegacionIndex{list-style: none;
    padding: 0;
    background: darkblue;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;}

.barraDeNavegacionIndex li{text-decoration: none;
    color: white;
    padding: 20px;}

.barraDeNavegacionIndex li:hover{background: darkorange;}


/*Estilos de la sección de destinos del index*/

.divContenedorDeDestinosPrincipalesIndex{background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    width: 100%;
    height: 350px;
    margin: 25px 0px 0px 0px;
    justify-content: center;
    gap: 40px;
}

.divDentroDeContendorDeDestinosPrincipalesIndex{background-color: lightblue;
    border: 1px solid black;
    width: 280px;
    text-align: center;
    align-items: center;}

.imagenDestinosIndex{width: 80%;
height: 80%;
object-fit: cover;
}

.textoDestinoIndex{margin-top: 10px;
}

.footerDeDestinosIndex{ background-color: green;
    text-align: center;
    margin: 0px 0px 40px 0px;
    padding: 5px;
}


/*Estilos de la sección de footer del index*/
footer{background-color: lightgray;}

.footerDeIndex {background-color: lightgray;
    border: 1px solid black;}

.divContenedorDeFooterIndex {background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;}

.divDeFooterIndex {background-color: lightblue;
    border: 1px solid black;
    width: 250px;
    text-align: center;
}

.listasDeFooter {list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;}